<div class="w-3/4 mx-auto">
  <!-- component -->
  <form [formGroup]="formRegister" (submit)="sendUser()" class="bg-grey-lighter min-h-screen flex flex-col">
    <div
      class="container max-w-sm  mx-auto flex-1 flex flex-col items-center justify-center px-2"
    >
      <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
        <h1 class="mb-8 text-3xl text-center">Registar</h1>
        <!-- <div>
          <label for="">First name</label>
          <input
            type="text"
            formControlName="name"
            class="block border border-grey-light w-full p-3 rounded mb-4"
            placeholder="First name"
          />
        </div> -->
        <!-- <div>
          <label for="">Last name</label>
          <input
            type="text"
            class="block border border-grey-light w-full p-3 rounded mb-4"
            placeholder="Last name"
          />
        </div> -->

        <div>
          <label for="">Email</label>
          <input
            type="text"
            formControlName="email"
            class="block border border-grey-light w-full p-3 rounded mb-4"
            placeholder="ejemplo@gmail.com"
          />
        </div>
        <div>
          <label for="">Password</label>
          <input
            type="password"
            formControlName="password"
            class="block border border-grey-light w-full p-3 rounded mb-4"
            placeholder="*****************************************"
          />
        </div>

        <button
          type="submit"
          class="w-full text-center py-3 rounded bg-green-500 text-white hover:bg-green-700 focus:outline-none my-1"
        >
          Registar
        </button>
      </div>
    </div>
  </form>
</div>
